@charset "UTF-8";

h1{
	font-size: 15px;
	color: black;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header{
	background-color: rgba(0,0,205,0.3);
}

.tbl-content{
  height:450px;
  overflow-x:auto;
  margin-top: 0px;
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 600;
  font-size: 12px;
  color: black;
  border: solid 3px rgba(28,28,28,0.3);
}

td:hover {
	background: #48D1CC;
}

tbody tr {
	transition: background 0.25s ease;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body{
  background: -webkit-linear-gradient(left, #25c481, #A9A9A9);
  background: linear-gradient(to right, #A9A9A9, #A9A9A9);
  font-family: 'Roboto', sans-serif;
}

section{
  margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
