@charset "UTF-8";



.content{
	display: flex;
	margin: auto;
	background: #DCDCDC;
	margin: 1em;
	overflow: scroll;
	height: 500px;
	border-radius: 5px;
}

caption{
	margin-top: 15px;
	color: #E2B842;
	text-align: center;
	font-weight: bold;
}

.rTable{
	width: 100%;
	text-align: center;
}

.rTable thead{
	background: #D2691E;
	font-weight: bold;
	color: white;
	margin: 3em;
}


tbody tr:hover {
  background: #48D1CC;
}

tbody tr {
  transition: background 0.25s ease;
}

.rTable th, .rTable td{
		padding: 10px 0;
		font-weight: 600;
}

@media screen and (max-width: 480px) {
	.content{
		width: 94%;
	}
	.rTable thead {
		display: none;
	}
	.rTable tbody {
		display: flex;
		flex-direction: column;
	}
}

@media only and (min-width: 1200px) {
	.content{width: 100%;}
	
	.rTable tbody tr td:nth-child(1){width: 10%;}
	.rTable tbody tr td:nth-child(2){width: 30%;}
	.rTable tbody tr td:nth-child(3){width: 8%;}
	.rTable tbody tr td:nth-child(4){width: 10%;}
	.rTable tbody tr td:nth-child(5){width: 10%;}
	.rTable tbody tr td:nth-child(6){width: 30%;}
}